pyspark==2.4.0
requests
urllib3==1.26.5
pandas
numpy
matplotlib
TA-Lib
tqdm
mpl_finance
nsepy
beautifulsoup4
scipy
lxml
plotly
pandas-datareader
quandl
statsmodels
git+git://github.com/albertbup/deep-belief-network.git
mnist